/* body {
    background-color: rgb(3, 3, 33);
    color: rgb(157, 212, 231);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about {
    background-color: azure; */

}

.top-image-container img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    text-align: left;
    color: white;
}


.top-image-header-text {
    position: absolute;
    top: 8%;
    left: 28%;
    transform: translate(-50%, -50%); 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 42px; 
    text-align: left;
}

